---
BasedOnStyle: Google
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterClass: true
BreakBeforeBraces: Linux
ColumnLimit: 90
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentWidth: 4
TabWidth: 4
UseTab: Never

