[submodule "3rdparty/tinyfiledialogs"]
	path = 3rdparty/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking