[submodule "3rdparty/tinyfiledialogs"]
	path = 3rdparty/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/avkudr/entt.git
[submodule "3rdparty/ceres"]
	path = 3rdparty/ceres
	url = https://ceres-solver.googlesource.com/ceres-solver
