[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/meta"]
	path = 3rdparty/meta
	url = https://github.com/avkudr/meta.git
[submodule "3rdparty/tinyfiledialogs"]
	path = 3rdparty/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git